@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e5eaf6;
}

.App {
  width: 80%;
  background-color: white;
}

.home {
  overflow: hidden;
  padding: 110px 0;
  min-height: calc(100vh);
}
.home p {
  font-size: 64px;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: calc(100vh - 220px);
}

@media screen and (max-width: 768px) {
  .App,
  .navbar {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .home p,
  .container > p {
    font-size: 48px;
  }
}
@media screen and (max-width: 520px) {
  .home p,
  .container > p {
    font-size: 32px;
  }
}
